.button {
    background-color: var(--acsent-text-color);
    font-family: inherit;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: solid transparent;


&:hover {
    background-color: var(--color-button-hero);
}

&__text {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-white);
}
}

// button-portfolio

.control {
    outline-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    color: var(--primary-text-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item>.control {
    border: none;
    background: #f5f4fa;
    padding: 6px 22px;
}

.control:hover,
.control:focus {
    background-color: var(--acsent-text-color);
    color: var(--color-white);
}

.control:hover {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
}


// кнопка модельного вікна
.button-form {
    background-color: var(--acsent-text-color);
    font-family: inherit;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: solid transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover {
    background-color: var(--color-button-hero);
    cursor: pointer;
}

.button-text-form {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--color-white);
}