.comand {
    background-color: #f5f4fa;


&__item-main {
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
}

&__item-main:first-child {
    margin-left: 0;
}

&__worker {
    margin-bottom: 30px;
}

&__subject {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

&__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text-color);
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 16px;
}
}

// icon comand

.list-comand {
    display: flex;
    margin-bottom: 30px;
    list-style: none;
    justify-content: center;


&__item {
    margin-right: 10px;
}

&__item:nth-child(4) {
    margin-right: 0;
}

&__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__icon {
    fill: var(--color-icon);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:focus,
&__link:hover {
    background-color: var(--acsent-text-color);
}

&__link:focus &__icon,
&__link:hover &__icon {
    fill: var(--color-white);
}
}
