.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--color-hero-footer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/Header-mob-img.jpg);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/Header-mob-img@2x.jpg);
  }

  @media screen and(min-width:768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/Header-tab-img.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero/Header-tab-img@2x.jpg);
    }
  }
  @media screen and(min-width:1200px) {
  }

  @media screen and(min-width:1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/Header-lap-img.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero/Header-lap-img@2x.jpg);
    }
  }

  &__title {
    color: var(--color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    width: 696px;
    height: 120px;
    right: 452px;
    bottom: 1949px;

    margin-left: auto;
    margin-right: auto;
    // @media screen and(max-width:767px) {
    //   text-align: center;
    // }
    @media screen and(max-width: 767px) {
      font-size: 26px;
      max-width: 100%;
    }
    @media screen and(min-width: 768px) {
      font-size: 26px;
      width: 360px;
    }
    @media screen and(min-width: 1200px) {
      font-size: 44px;
      width: 696px;
    }
  }
}
.list .item-main + .item-main {
  margin-left: 30px;
}
