.regular-customers__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;


.regular-customers__item:not(:last-child) {
    margin-right: 30px;
}

.regular-customers__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    outline: solid 1px var(--color-icon);
    border-radius: 4px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__link:hover,
.regular-customers__link:focus {
    outline: solid 1px var(--acsent-text-color);
}

.regular-customers__link:hover .regular-customers__icon,
.regular-customers__link:focus .regular-customers__icon {
    fill: var(--acsent-text-color);
}

.regular-customers__icon {
    fill: var(--color-icon);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}